<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- IMPORT FONT -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/Leaverou/awesomplete/gh-pages/awesomplete.css" th:href="@{https://cdn.rawgit.com/Leaverou/awesomplete/gh-pages/awesomplete.css}">

    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
      th:href="@{https://fonts.googleapis.com}"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
      th:href="@{https://fonts.gstatic.com}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap"
      th:href="@{https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap}"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link
      rel="manifest"
      href="../static/manifest.json"
      th:href="@{/manifest.json}"
    />
    <link
      rel="stylesheet"
      href="../static/css/profile.css"
      th:href="@{/css/profile.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/main.css"
      th:href="@{/css/main.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/slider.css"
      th:href="@{/css/slider.css}"
    />
    <!--    <link rel="stylesheet" href="../static/css/course.css" th:href="@{/css/course.css}"/>-->
    <link
      rel="stylesheet"
      href="../static/css/index.css"
      th:href="@{/css/index.css}"
    />
    <link rel="stylesheet" href="../static/css/EN-index.css" th:href="@{/css/EN-index.css}"/>
  </head>
  <body>
    <div>
      <!-- TOP BAR START-->
      <div class="top-bar">
        <div class="top-bar-left">
          <div class="name"><a href="#">C-Sharing</a></div>
          <form action="#" th:action="@{/search}" method="post" class="search-box">
            <input type="hidden" name="accountId" th:value="${accountId}"/>
            <input type="text" name="search" list="myList" class="awesomplete"/>
            <datalist id="myList">
              <div th:each="key:${allCourseBoard}">
                <option th:text="${key.boardName}">Ada</option>
              </div>
            </datalist>
            <a class="search-btn" href="#" id="searchBtn">
              <img
                      class="search-img"
                      src="../static/img/posting-page-img/Vector.svg"
                      th:src="@{/img/posting-page-img/Vector.svg}"
                      alt=""
              />
            </a>
          </form>
        </div>
        <div class="top-bar-right">
          <a href="#" th:href="@{'/postPage/'+${accountId}}"
            ><div class="profile">
              <img
                class="post"
                src="../static/img/index-img/post.svg"
                th:src="@{/img/index-img/post.svg}"
                alt=""
              /></div
          ></a>
          <a href="#" th:href="@{'/personalProfile/'+${accountId}}"
            ><div class="profile">
              <img
                class="profile1"
                src="../static/img/posting-page-img/Profile1.svg"
                th:src="@{/img/posting-page-img/Profile1.svg}"
                alt=""
              />
              <img
                class="profile2"
                src="../static/img/posting-page-img/Profile2.svg"
                th:src="@{/img/posting-page-img/Profile2.svg}"
                alt=""
              />
              <img
                class="profile3"
                src="../static/img/posting-page-img/Profile3.svg"
                th:src="@{/img/posting-page-img/Profile3.svg}"
                alt=""
              /></div
          ></a>
        </div>
      </div>
      <!-- TOP BAR END-->

      <div class="main-content">
        <!-- SIDE BAR START-->
        <div class="main-content-left">
          <div class="side-bar">
            <div class="side-bar-top">
              <i class="fa-solid fa-bars"></i>
              <div class="button-box">
                <div class="btn"></div>
                <button type="button" class="toggle-btn" onclick="leftClick()">
                  <a href="#" th:href="@{'/Ch/'+${accountId}}">LOCAL</a>
                </button>
                <button type="button" class="toggle-btn" onclick="rightClick()">
                  <a href="#" th:href="@{'/En/'+${accountId}}">INTERNATIONAL</a>
                </button>
              </div>

              <!-- <div class="swap-btn-container">
                <div class="btn"></div>
                <button type="button" class="show" onclick="leftClick()">
                  本地生
                </button>
                <button type="button" class="show" onclick="rightClick()">
                  外籍生
                </button> -->
              <!-- <button type="button" class="swap-btn btn-effect">
                  <span>外籍生</span>
                </button> -->
              <!-- </div> -->
            </div>

            <header>
              <div class="text">School</div>
            </header>

            <div class="menu-bar">
              <div class="menu">
                <ul class="munu-links">
                  <li class="nav-links">
                    <img
                      class="nav-img"
                      src="../static/img/posting-page-img/NCCU.svg"
                      th:src="@{/img/posting-page-img/NCCU.svg}"
                      alt=""
                    />
                    <!--         undo           -->
                    <a class="nav-text" href="nccu.html">NCCU</a>
                  </li>
                  <li class="nav-links">
                    <img
                      class="nav-img"
                      src="../static/img/posting-page-img/NTU.svg"
                      th:src="@{/img/posting-page-img/NTU.svg}"
                      alt=""
                    />
                    <a class="nav-text" href="#">NTU</a>
                  </li>
                  <li class="nav-links">
                    <img
                      class="nav-img"
                      src="../static/img/posting-page-img/NTHU.svg"
                      th:src="@{/img/posting-page-img/NTHU.svg}"
                      alt=""
                    />
                    <a class="nav-text" href="#">NTHU</a>
                  </li>
                  <li class="nav-links">
                    <img
                      class="nav-img"
                      src="../static/img/posting-page-img/NYCU.svg"
                      th:src="@{/img/posting-page-img/NYCU.svg}"
                      alt=""
                    />
                    <a class="nav-text" href="#">NYCU</a>
                  </li>
                  <li class="nav-links">
                    <img
                      class="nav-img"
                      src="../static/img/posting-page-img/NCKU.svg"
                      th:src="@{/img/posting-page-img/NCKU.svg}"
                      alt=""
                    />
                    <a class="nav-text" href="#">NCKU</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- SIDE BAR END-->
        <div class="main-content-right">
          <div class="container">
            <div class="slider-post">
              <div
                class="alert alert-success alert-dismissible fade in"
                th:if="${!#strings.isEmpty(message)}"
              >
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Congratulation，</strong>
                <span th:text="${message}">success</span>
              </div>
              <div class="slider-post-title">
                <input
                  type="radio"
                  id="all-post"
                  name="index-showing-content"
                  checked
                  onclick="showIndexContent()"
                />
                <label for="all-post" class="select-all-btn border-active">
                  <span style="color: black">ALL Course</span>
                </label>
                <input
                  type="radio"
                  id="compulsory-post"
                  name="index-showing-content"
                  onclick="showIndexContent()"
                />
                <label for="compulsory-post" class="select-compulsory-btn">
                  <span>Required/Elective Course</span>
                </label>
                <input
                  type="radio"
                  id="ge-post"
                  name="index-showing-content"
                  onclick="showIndexContent()"
                />
                <label for="ge-post" class="select-ge-btn">
                  <span>Gen Ed Courses</span>
                </label>
                <input
                  type="radio"
                  id="tracking-post"
                  name="index-showing-content"
                  onclick="showIndexContent()"
                />
                <label for="tracking-post" class="select-tracking-btn">
                  <span>Course Board</span>
                </label>

                <div class="posting-order">
                  <span>Sort</span>
                  <select name="postingOrder" onchange="redirectToPage(this.value);">
                    <option value="">#</option>
                    <option th:value="'/postingOrder/'+${accountId}+'/1'" th:text="Popular" th:selected="(${postingOrder}=='1')">Popular</option>
                    <option th:value="'/postingOrder/'+${accountId}+'/2'" th:text="Time" th:selected="(${postingOrder}=='2')">Time</option>
                    <!--                      <option value="1" th:selected="(${postingOrder}=='1')"><a href="#" th:href="@{'/postingOrder/'+${accountId}+'/1'">熱門</a></option>-->
                    <!--                      <option value="2" th:selected="(${postingOrder}=='2')"><a href="#" th:href="@{'/postingOrder/'+${accountId}+'/2'">時間</a></option>-->
                  </select>
                </div>
              </div>
              <div class="divding-line"><hr style="width: 100%" /></div>
              <!-- SLIDER START -->
              <div class="slider index-slider">
                <div class="slides index-slides">
                  <!-- ALL POST SLIDE START-->
                  <div
                    class="slide index-slide index-posting-left hover-scroll-bar"
                  >
                    <!--                    th:each=""-->
                    <!-- ALL POST START -->
                    <div class="others-post" th:each="post:${allPost}">
                      <div class="post-top">
                        <img
                          src="../static/img/index-img/profile.svg"
                          th:src="@{/img/index-img/profile.svg}"
                          alt=""
                        />
                        <span th:text="${post.nickname}">anonymous</span>
                      </div>
                      <div class="posts">
                        <a href="#" th:href="@{'/seePosting/'+${post.id}+'/'+${accountId}}"
                          ><div class="course-name">
                            <h1 th:text="${post.courseName}">
                              306048011 管理科學
                            </h1>
                          </div>
                          <div class="course-instructor">
                            <h2
                              style="color: rgba(0, 0, 0, 0.8)"
                              th:text="${post.teacherName}"
                            >
                              周彥君
                            </h2>
                          </div>
                        </a>
                      </div>

                      <div class="comment-dividing-line">
                        <hr style="border: 1px solid #a3a3a3" />
                      </div>
                    </div>
                    <!--            全部的底         ALL POST END -->
                  </div>
                  <!-- ALL POST SLIDE END -->

                  <!-- COMPULSORY POST SLIDE START -->
                  <div class="slide index-slide hover-scroll-bar">
                    <!-- COMPUSORY POST START -->
                    <div class="others-post" th:each="rPost:${requiredPost}">
                      <div class="post-top">
                        <img src="../static/img/index-img/profile.svg" th:src="@{/img/index-img/profile.svg}" alt="" />
                        <span th:text="${rPost.nickname}">anonymous</span>
                      </div>
                      <div class="posts">
                        <a href="#" th:href="@{'/seeEnPosting/'+${rPost.id}+'/'+${accountId}}"
                          ><div class="course-name">
                            <h1 th:text="${rPost.courseName}">306048011 管理科學</h1>
                          </div>
                          <div class="course-instructor">
                            <h2 style="color: rgba(0, 0, 0, 0.8)" th:text="${rPost.teacherName}">
                              周彥君 莊皓鈞
                            </h2>
                          </div>
                        </a>
                      </div>

                      <div class="comment-dividing-line">
                        <hr style="border: 1px solid #a3a3a3" />
                      </div>
                    </div>
                    <!-- COMPUSORY POST END -->
                  </div>
                  <!-- COMPULSORY POST SLIDE END -->

                  <!-- GE POST SLIDE START -->
                  <div class="slide index-slide hover-scroll-bar">
                    <!-- GE POST START -->
                    <div class="others-post" th:each="gPost:${generalPost}">
                      <div class="post-top">
                        <img src="../static/img/index-img/profile.svg" th:src="@{/img/index-img/profile.svg}" alt="" />
                        <span th:text="${gPost.nickname}">anonymous</span>
                      </div>
                      <div class="posts">
                        <a href="#" th:href="@{'/seeEnPosting/'+${gPost.id}+'/'+${accountId}}"
                          ><div class="course-name">
                            <h1 th:text="${gPost.courseName}">306048011 管理科學</h1>
                          </div>
                          <div class="course-instructor">
                            <h2 style="color: rgba(0, 0, 0, 0.8)" th:text="${gPost.teacherName}">
                              周彥君 莊皓鈞
                            </h2>
                          </div>
                        </a>
                      </div>

                      <div class="comment-dividing-line">
                        <hr style="border: 1px solid #a3a3a3" />
                      </div>
                    </div>
                    <!-- GE POST END -->
                  </div>
                  <!-- GE POST SLIDE END -->
                  <!-- TRACKING FORUMS SLIDE START -->
                  <div class="slide index-slide hover-scroll-bar">
                    <!-- TRACKING FORUMS START -->
                    <div class="others-post" th:each="board:${allCourseBoard}">
                      <div class="forums">
<!--                        undo-->
                        <a href="#" th:href="@{'/board/'+${board.id}+'/'+${accountId}}">
                          <div class="course-container">
                            <div class="course-top">
                              <div class="course-title">
                                <div class="course-info">
                                  <div class="course-top-name">
                                    <h1 th:text="${board.boardName}">管理科學</h1>
                                  </div>
                                </div>
                              </div>
                              <div class="compulsory-or-not" th:switch="${board.courseType}">
                                <p style="color: #868686" th:case="0">
                                  Compulsory/Elective
                                </p>
                                <p style="color: #868686" th:case="1">
                                  Gen Ed Courses
                                </p>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="comment-dividing-line">
                        <hr style="border: 1px solid #a3a3a3" />
                      </div>
                    </div>
                    <!-- TRACKING FORUMS END -->
                  </div>
                  <!-- TRACKING FORUMS SLIDE END -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPT -->
    <script>
      function redirectToPage(url) {
        if (url !== "") {
          window.location.href = url;
        }
      }
    </script>
    <script>
      if ("serviceWorker" in navigator) {
        console.log("Will service worker register?");
        navigator.serviceWorker
          .register("/service-worker.js")
          .then(function (reg) {
            console.log("Yes,it did");
          })
          .catch(function (err) {
            console.log("No it didn't,This happen: ", err);
          });
      }
    </script>

    <script>
      const btn = document.querySelector(".btn");

      function leftClick() {
        btn.style.left = "0";
        btn.style.width = "80px";
      }

      function rightClick() {
        btn.style.left = "80px";
        btn.style.width = "140px";
      }
    </script>
    <script src="https://cdn.rawgit.com/Leaverou/awesomplete/gh-pages/awesomplete.min.js" th:src="@{https://cdn.rawgit.com/Leaverou/awesomplete/gh-pages/awesomplete.min.js}"></script>

    <script
      src="../static/js/jquery-3.2.1.min.js"
      th:src="@{/js/jquery-3.2.1.min.js}"
    ></script>
    <script
      src="../static/js/bootstrap.min.js"
      th:src="@{/js/bootstrap.min.js}"
    ></script>
    <script
      src="https://kit.fontawesome.com/68fe11f082.js"
      th:src="@{https://kit.fontawesome.com/68fe11f082.js}"
      crossorigin="anonymous"
    ></script>
    <script defer src="../static/js/main.js" th:src="@{/js/main.js}"></script>
  </body>
</html>
