<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>

  <!-- IMPORT FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com" th:href="@{https://fonts.googleapis.com}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin th:href="@{https://fonts.gstatic.com}"/>
  <link
          href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap"
          th:href="@{https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap}"
          rel="stylesheet"
  />

  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}" />
<!--  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">-->
  <link rel="manifest" href="../static/manifest.json" th:href="@{/manifest.json}">
</head>
<body>
<!-- TOP BAR START-->
<div class="top-bar">
  <div class="top-bar-left">
    <!--        先硬性規定要註冊登入後才可使用-->
    <div class="name"><a href="#">C-Sharing</a></div>
  </div>
</div>
<!-- TOP BAR END-->

<!--CONTENT START-->

<div class="content" style="width: 100%">
  <div class="login" style="margin-left: 230px">
    <div class="login-from-box">
      <form action="#" th:action="@{/registerPage}" method="post">
        <h1>註冊 Register</h1>
        <div class="login-form-value">
          <div class="input-wrapper">
            <div class="login-input-box">
              <label for="email">E-mail</label>
              <input type="text" id="email" name="email" th:field="${registerForm.email}"/>
<!--              <div style="width: 210px"><p class="form-control-static text-danger" th:if="${#fields.hasErrors('registerForm.email')}" th:errors="${registerForm.email}"> never null!</p></div>-->
              <div class="never-null-container">
                <p
                        class="form-control-static text-danger"
                        th:if="${#fields.hasErrors('registerForm.email')}"
                        th:errors="${registerForm.email}"
                >
                  never null!
                </p>
              </div>
            </div>
            <div class="login-input-box">
              <label for="password">Password</label>
              <input
                      type="password"
                      id="password"
                      name="password"
                      th:field="${registerForm.password}"
              />
<!--              <div style="width: 210px"><p class="form-control-static text-danger" th:if="${#fields.hasErrors('registerForm.password')}" th:errors="${registerForm.password}"> never null!</p></div>-->
              <div class="never-null-container">
                <p
                        class="form-control-static text-danger"
                        th:if="${#fields.hasErrors('registerForm.password')}"
                        th:errors="${registerForm.password}"
                >
                  never null!
                </p>
              </div>
            </div>
            <div class="login-input-box">
              <label for="ensurePassword">ensure password</label>
              <input
                      type="password"
                      id="ensurePassword"
                      name="ensurePassword"
                      th:field="${registerForm.ensurePassword}"
              />
    <!--              <div style="width: 210px"><p class="form-control-static text-danger" th:if="${#fields.hasErrors('registerForm.ensurePassword')}" th:errors="${registerForm.ensurePassword}"> never null!</p></div>-->
              <div class="never-null-container">
                <p
                        class="form-control-static text-danger"
                        th:if="${#fields.hasErrors('registerForm.ensurePassword')}"
                        th:errors="${registerForm.ensurePassword}"
                >
                  never null!
                </p>
              </div>
            </div>
            <div class="login-input-box">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" th:field="${registerForm.name}"/>
<!--              <div style="width: 210px"><p class="form-control-static text-danger" th:if="${#fields.hasErrors('registerForm.name')}" th:errors="${registerForm.name}"> never null!</p></div>-->
              <div class="never-null-container">
                <p
                        class="form-control-static text-danger"
                        th:if="${#fields.hasErrors('registerForm.name')}"
                        th:errors="${registerForm.name}"
                >
                  never null!
                </p>
              </div>
            </div>
            <div class="select" style="font-weight: 800; font-size: 1.5rem">
              <label for="identity">Identity</label>
              <select style="width: 46%" id="identity" name="identity">
                <option value="0" th:selected="(${registerForm.identity}=='0')">本地生 Local Students</option>
                <option value="1" th:selected="(${registerForm.identity}=='1')">
                  外籍生 International Students
                </option>
              </select>
            </div>
            <div
                    class="select"
                    style="font-weight: 800; font-size: 1.5rem; height: 100%"
            >
              <label for="sex">性別 Sex</label>
              <select style="width: 46%" id="sex" name="sex">
                <option value="0" th:selected="(${registerForm.sex}=='0')">男性 Male</option>
                <option value="1" th:selected="(${registerForm.sex}=='1')">女性 Female</option>
                <option value="2" th:selected="(${registerForm.sex}=='2')">其他 Other</option>
              </select>
            </div>

            <div class="login-btn">
              <button type="submit" class="btn-effect">
                Register
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--CONTENT END-->
<script>
  if('serviceWorker' in navigator){
    console.log("Will service worker register?");
    navigator.serviceWorker.register('/service-worker.js').then(function (reg){
      console.log("Yes,it did");
    }).catch(function (err){
      console.log("No it didn't,This happen: ",err);
    })
  }
</script>

<!--<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>-->
<!--<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>-->
</body>
</html>
