<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Leaverou/awesomplete/gh-pages/awesomplete.css" th:href="@{https://cdn.rawgit.com/Leaverou/awesomplete/gh-pages/awesomplete.css}">
</head>
<body>
<!--<input class="awesomplete" list="mylist" />-->
<!--    <datalist id="mylist">-->
<!--        <div th:each="key:${list}">-->
<!--            <option th:text="${key}">Ada</option>-->
<!--        </div>-->
<!--    </datalist>-->
xd~~
<!--<div th:each="xd:${list}">-->
<!--    <p th:text="${xd.name}"></p>-->
<!--</div>-->

<!--<select id="mySelect" onchange="redirectToPage(this.value);">-->
<!--    <option value="">请选择页面</option>-->
<!--    <option th:value="'/te/'+ ${test} + '/1'"-->
<!--            th:text="1">-->
<!--    </option>-->
<!--    <option th:value="'/te/'+ ${test} + '/2'"-->
<!--            th:text="2">-->
<!--    </option>-->
<!--</select>-->

<!--<script>-->
<!--    function redirectToPage(url) {-->
<!--        if (url !== "") {-->
<!--            window.location.href = url;-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--<div th:each="unit:${list}">-->
<!--  <span th:text="${unit}">xxxx</span>-->
<!--</div>-->
<!--<h2>test</h2>-->
<!--<form action="#" th:action="@{/test}" method="post">-->
<!--    <input type="hidden" th:value="${x}" name="x">-->
<!--    <select name="nickName">-->
<!--        <div th:each="list:${list}">-->
<!--            <option th:text="${list}">匿名</option>-->
<!--        </div>-->
<!--        &lt;!&ndash;                      <option value="school">政治大學</option>&ndash;&gt;-->
<!--        &lt;!&ndash;                      <option value="anonymous">匿名</option>&ndash;&gt;-->
<!--    </select>-->
<!--    <p>-->
<!--        <button type="submit" class="btn btn-primary">提交</button>-->
<!--    </p>-->
<!--</form>-->

<script src="https://cdn.rawgit.com/Leaverou/awesomplete/gh-pages/awesomplete.min.js" th:src="@{https://cdn.rawgit.com/Leaverou/awesomplete/gh-pages/awesomplete.min.js}"></script>

</body>
</html>